:root {
    --mustard: #f7a91b;
    --teal: #197f85;
    --red: #cd005e;
    --yellow: #f6ca5c;
    --grey: #e6e6e6;
    --text-color: #4a4a4a;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.btn {
    display: inline-block;
    padding: 1em 1.7em;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.bg-mustad {
    background-color: var(--mustard);
}

.bg-teal {
    background-color: var(--teal);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-grey {
    background-color: var(--grey);
}

.color-red {
    color: var(--red);
}

.container {
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
    padding-block: 20px;
    position: relative;
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.header {
    padding-block: 1.5em;
}

.header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
}

.header-btn {
    background: transparent;
    border: 2px solid #fff;
    padding: 0.8em;
}

.main-baner {
    width: 100vw;
}

.main-baner>.container {
    background-image: url("assets/images/1192714_dogisolated.png");
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-baner-content {
    max-width: 400px;
    margin-inline: auto 0;
    text-align: right;
    padding-block: 60px;
}

.right {
    padding: 1em;
}

.houses {
    background-image: url("assets/images/w1529_1156890_yellowhouses.jpg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.houses>.container {
    text-align: center;
    padding-bottom: 150px;
}

.usp>.container {
    text-align: center;
}

.usp-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em 2em;
    margin-block: 2em;
}

.usp-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.usp-img {
    max-height: 80px;
}

.usp-title,
.usp-content {
    margin: 0;
    text-align: center;
}

.carousel {
    position: relative;
    width: 100vw;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.carousel-item.active {
    opacity: 1;
    position: static;
}

.carousel-img {
    width: 100%;
}

.carousel-arr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
    font-weight: bold;
    z-index: 99;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}

.carousel-arr:hover {
    transform: translateY(-50%) scale(1.2);
}

.arr-back {
    left: 50px;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, .5));
}

.arr-fw {
    right: 50px;
    filter: drop-shadow(-1px 2px 3px rgba(0, 0, 0, .5));

}

@media only screen and (max-width: 768px) {
    .usp-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        padding-inline: 20px;
    }
}