:root {
    --mustard: #f7a91b;
    --teal: #197f85;
    --red: #cd005e;
    --yellow: #f6ca5c;
    --grey: #e6e6e6;
    --text-color: #4a4a4a;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

.btn {
    padding: 1em 1.7em;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.bg-mustad {
    background-color: var(--mustard);
}

.bg-teal {
    background-color: var(--teal);
}

.bg-grey {
    background-color: var(--grey);
}

.color-red {
    color: var(--red);
}

.header {
    padding-block: 1.5em;
}

.header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
}

.header-btn {
    background: transparent;
    border: 2px solid #fff;
    padding: 0.8em;
}

.main-baner {
    width: 100vw;

}

.main-baner>.container {
    background-image: url("assets/images/1192714_dogisolated.png");
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-baner-content {
    max-width: 400px;
    margin-inline: auto 0;
    text-align: right;
    padding-block: 60px;
}


@media only screen and (max-width: 1024px) {
    .container {
        padding-inline: 20px;
    }
}